.form__mainContainer {
    margin-top: 5%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form__container {
    width: 38%;
    border: 2px solid white;
    border-radius: 10px;
    padding: 4% 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input__container {
    font-size: 1.4em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 12vh;
    margin-bottom: 12%;
}

.input__block {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 15px;
    outline-color: white;
    font-size: 0.8em;
    color: white;
}

.input__block::placeholder {
    color: white;
}

.action__button {
    width: 100%;
    background-color: transparent;
    border: 2px solid white;
    transition: 0.3s;
    cursor: pointer;
    color: white;
    font-size: 1.3em;
    padding: 2% 0;
    border-radius: 10px;
}

.action__button:hover {
    background-color: white;
    color: rgba(102, 193, 146, 1);
    transition: 0.3s;
}

.error__text {
    color: red;
    height: 3vh;
    text-align: center;
    margin-top: 10%;
    font-size: 1.1em;
}

.account__container {
    margin: 2% 0 5%;
    font-size: 1.2em;
    text-align: center;
}

.account__container > a {
    color: white;
}

@media screen and (max-width: 1200px) {
    .form__container {
        width: 50%;
    }

    .error__text {
        height: 10vh;
    }
}

@media screen and (max-width: 870px) {
    .form__container {
        width: 60%;
    }
}

@media screen and (max-width: 620px) {
    .form__container {
        width: 80%;
        padding: 7%;
    }

    .input__container {
        height: 15vh;
    }

    .input__block {
        padding: 5px 10px;
    }

    .error__text {
        height: 15vh;
    }

    .account__container {
        margin-top: 8%;
    }
}

@media screen and (max-width: 420px) {
    .form__container {
        width: 90%;
    }

    .input__container {
        font-size: 1.2em;
    }

    .error__text {
        font-size: 0.9em;
    }

    .action__button {
        font-size: 1em;
    }

    .account__container {
        font-size: 0.9em;
    }
}