* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-width: thin;
  scrollbar-color: rgba(102, 193, 146, 1) rgba(45, 62, 84, 1);
  background: rgb(45, 62, 84);
  background: linear-gradient(
    65deg,
    rgba(45, 62, 84, 1) 0%,
    rgba(102, 193, 146, 1) 100%
  );
  background-repeat: no-repeat;
}

.main__container {
  padding-top: 90px;
}
