.schedule__container {
  color: white;
  margin: 3% auto;
}

.schedule__title {
  font-size: 2.5em;
  text-align: center;
}

@media screen and (max-width: 460px) {
  .schedule__container {
    margin: 8% auto;
  }

  .schedule__title {
    font-size: 2em;
  }
}
